extends ../layout/layout.jade

block style
  style.
    body{
      background: #efefef;
    }
    .box{
      margin: 60px auto;
      text-align: center;
    }
    
block body
  .box
    img(src="./images/press.png")


block script
